{% extends 'base.html' %}

{% block contents %}

    <div class="jumbotron">
        <h1 class="display-4 text-center font-weight-bold">Register</h1>
        <br>
        <hr class="my-4">
        <form method="POST" action="{% url 'signup' %}" class="m-3">
            {% csrf_token %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">ID</span>
                </div>
                <input type="text" class="form-control" placeholder="아이디" aria-label="Username" aria-describedby="basic-addon1" name="username" value="" required>
            </div>
    
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">PW</span>
                </div>
                <input type="password" class="form-control" placeholder="비밀번호" aria-label="Password" aria-describedby="basic-addon1" name="password" value="" required>
            </div>
    
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">PW Check</span>
                </div>
                <input type="password" class="form-control" placeholder="비밀번호 확인" aria-label="Password" aria-describedby="basic-addon1" name="password_check" value="" required>
            </div>
    
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">URL</span>
                </div>
                <input type="url" required id="timetable_url" class="form-control" pattern="https://everytime\..*" title="에브리타임 주소를 입력해주세요" placeholder="https://everytime.kr/@" aria-label="Timetable_url" aria-describedby="basic-addon1" name="timetable_url" value="" required>
            </div>
    
            <input class="float-right btn btn-outline-danger btn-lg" type="submit" value="회원가입"> 
        </form>
 
    </div>


    <div class="container">
        <h5>URL 찾는 법</h5>
        <p>
            1. 모바일 에브리타임에 접속합니다. <br>
            2. 아래 메뉴 중 '시간표'를 선택합니다. <br>
            3. 우측 상단의 '설정'(톱니바퀴) 버튼을 클릭합니다. <br>
            4. URL 공유 버튼을 누르면 클립보드에 복사됩니다. <br>
        </p>
    </div>

{% endblock %}